@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ecf0f1;
    font-family: 'Montserrat', sens-serif;
    scroll-behavior: smooth;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Styles */

.navbar {
    background: #2c3e50;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #7f8c8d;
}

.navbar .title {
    font-size: larger;
    background: #34495e;
    padding: 17.5px;
}

.navbar .categories .category {
    padding: 10px;
}

.navbar .categories .category .name {
    font-size: large;
    margin-bottom: 5px;
}

.navbar .categories .category .links .link {
    border-left: 3px solid #e67e22;
    margin-bottom: 3px;
    padding: 3px 10px;
}

.content {
    background: #34495e;
    width: 80vw;
    height: 100vh;
    overflow: auto;
}

.content .group-title {
    padding: 10px 30px;
    font-size: xx-large;
    background: #2c3e50;
    margin-top: 50px;
}

.content .group-title:first-child {
    margin-top: 0;
}

.content .section {
    padding: 30px;
}

.content .divider {
    margin: 10px;
    width: calc(80vw - 40px);
    height: 0;
    border-bottom: 1px solid #7f8c8d;
}


.content .section .title {
    font-size: x-large;
    margin-bottom: 20px;
}

.content .section .paragraph {
    width: calc(80vw - 60px)
}

.content .section .code {
    width: calc(80vw - 60px);
    margin-top: 40px;
}

.content .section .code pre {
    width: calc(80vw - 60px);
    border-radius: 5px;
}

.content .section .code pre code {
    width: calc(80vw - 60px);
    margin: 0;
    font-family: 'Montserrat';
}

.content .section td, .content .section th {
    padding: 5px 10px;
}

table, th, td {
    margin-top: 40px;
    border: 1px solid #7f8c8d;
    border-collapse: collapse;
  }